<div>
<form [formGroup]='landAssessment' (ngSubmit)='save(landAssessment.value)'>
  <div class="h"></div>
  <div class="mat-title-con">
  <mat-card-header>
    <mat-card-title>
      <div class='fl'><img class='imgLogo' src='../assets/land.png'></div>
      <div class='mat-stitle'>&nbsp;&nbsp;<b>Update Land</b></div>
    </mat-card-title>
  </mat-card-header>
  </div>
  <!-- Container -->
  <div class='wrapper'>
    <mat-card-content>
      <div class='container' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign='center' fxLayoutGap='20px'
        fxLayoutGap.xs='20px' fxLayoutGap.sm='20px'>
        <!-- Transaction Code -->
        <div class="divCard item item-1 brdr" fxFlex='60%'>
          <div class='divHeader'>
            <div class='indx'>
              <input type='text' id="index1" tabindex='-1'>
            </div>
          </div>
          <br>
          <div class='cardMargin'>
            <div class='container' fxLayout fxLayout.xs='column' fxLayout fxLayoutAlign='center' fxLayoutGap='20px' fxLayoutGap.xs='2%' >
            <mat-form-field class='item item-1' fxFlex='74%'>
              <mat-label>Transaction Code</mat-label>
              <mat-select formControlName='trnsCode'>
                <mat-option *ngFor='let trns of trnsLs' [value]='trns.value'>{{ trns.viewVal }}</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="" fxFlex='36%'>
              <button style='width: 50%; height: 50px;' type='button' mat-raised-button color='primary' class='sve' (click)='srch()'>Search</button>
            </div>

            </div>

            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='20px'
              fxLayoutGap.xs='10px'>
              <div formGroupName='pin' class='item item-1' fxFlex='100%'>
                <span>PIN: </span>
                <mat-form-field class='width-10'>
                  <input matInput type='text' formControlName='city'   maxlength='3'>
                </mat-form-field>
                <span>-</span>
                <mat-form-field class='width-10'>
                  <input matInput type='text' formControlName='district'   maxlength='2'>
                </mat-form-field>
                <span>-</span>
                <mat-form-field class='width-10'>
                  <input matInput type='text' formControlName='barangay'   maxlength='3'>
                </mat-form-field>
                <span>-</span>
                <mat-form-field class='width-10'>
                  <input matInput type='text' formControlName='section'   maxlength='2'>
                </mat-form-field>
                <span>-</span>
                <mat-form-field class='width-10'>
                  <input matInput type='text' formControlName='parcel'   maxlength='4'>
                </mat-form-field>
              </div>
            </div>

            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='32%'>
                <input matInput type='text' placeholder='ARP No.' formControlName='arpNo'  >
              </mat-form-field>

              <mat-form-field class='item item-2' fxFlex='32%'>
                <input matInput type='text' placeholder='OCT / TCT No.' formControlName='OCT_TCT'  >
              </mat-form-field>

              <mat-form-field class='item item-3' fxFlex='32%'>
                <input matInput type='text' placeholder='Survey No.' formControlName='surveyNo'  >
              </mat-form-field>
            </div>

            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='49%'>
                <input matInput type='text' placeholder='Lot No.' formControlName='lotNo'  >
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='49%'>
                <input matInput type='text' placeholder='Block No.' formControlName='blockNo'  >
              </mat-form-field>
            </div>
          </div>
          <br>
        </div>
        <!-- Transaction Code End -->

        <!-- Property Location -->
        <div class="divCard item item-2 brdr" fxFlex='40%'>
          <div class='divHeader'>&nbsp;&nbsp;Property Location</div>
          <br>
          <div class="cardMargin">
          <mat-card-content formGroupName='propertyLocation'>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='40%'>
                <input matInput type='text' placeholder='No. / Street' formControlName='streetNo'  >
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='58%'>
                <!-- <input matInput type='text' placeholder='Brgy. / District' formControlName='barangay'  > -->
								<mat-select formControlName='barangay' placeholder="Barangay">
									<mat-option *ngFor='let brgy of lsBrgy' [value]='brgy.value' (click)='setDistCodeSubd()'>{{ brgy.viewVal }}</mat-option>
								</mat-select>
              </mat-form-field>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='0px'>
              <mat-form-field class='item item-1' fxFlex='32%'>
								<!-- <input matInput type='text' placeholder='Subdivision' formControlName='subdivision'  > -->
                <mat-select formControlName='subdivision' placeholder='Subdivision'>
									<mat-option *ngFor='let subd of lsSubd' [value]='subd.value' (click)='setClsSubCls()'>{{ subd.viewVal }}</mat-option>
								</mat-select>
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='32%'>
                <input matInput type='text' placeholder='City / Municipality' formControlName='city'  >
              </mat-form-field>
              <mat-form-field class='item item-3' fxFlex='32%'>
                <input matInput type='text' placeholder='Province' formControlName='province'  >
              </mat-form-field>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='49%'>
                <input matInput type='text' placeholder='North' formControlName='north'  >
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='49%'>
                <input matInput type='text' placeholder='South' formControlName='south'  >
              </mat-form-field>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='49%'>
                <input matInput type='text' placeholder='East' formControlName='east'  >
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='49%'>
                <input matInput type='text' placeholder='West' formControlName='west'  >
              </mat-form-field>
            </div>
          </mat-card-content>
          </div>
          <br>
        </div>
        <!-- Property Location End -->
      </div>

      <div class='container' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign='center' fxLayoutGap='20px'
        fxLayoutGap.xs='20px' fxLayoutGap.sm='20px'>
        <!-- Owner Details -->
        <div class="divCard item item-1 brdr" fxFlex='50%'>
          <div class="divHeader">&nbsp;&nbsp;Owner Details</div>
            <br>
            <div class="cardMargin">
            <mat-card-content formGroupName='ownerDetails'>
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
                fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='32%'>
                  <input matInput type='text' formControlName='ownfName' placeholder='First name'>
                </mat-form-field>
                <mat-form-field class='item item-2' fxFlex='32%'>
                  <input matInput type='text' formControlName='ownmName' placeholder='Middle name'>
                </mat-form-field>
                <mat-form-field class='item item-3' fxFlex='32%'>
                  <input matInput type='text' formControlName='ownlName' placeholder='Last name'>
                </mat-form-field>
              </div>
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='100%'>
                  <input matInput type='text' formControlName='ownaddress' placeholder='Address'>
                </mat-form-field>
              </div>
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
                fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='32%'>
                  <input matInput type='text' formControlName='owncontact' placeholder='Contact No.'>
                </mat-form-field>
                <mat-form-field class='item item-2' fxFlex='32%'>
                  <input matInput type='text' formControlName='ownTIN' placeholder='TIN No.'>
                </mat-form-field>
                <div fxFlex='32%' (mousedown)="ownAdd=true" (mouseup)="ownAdd=false" (mouseleave)="ownAdd=false">
                <button [ngClass]="{'addBtnMU': !ownAdd, 'addBtnMD': ownAdd}" mat-raised-button type='button' class='item item-3' color='primary'
                  (click)="addOwner(landAssessment.get('ownerDetails'));">Add</button>
                </div>
              </div>
              <br><br>
              <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
                <div class="lnd-table" fxFlex='100%'>
                <table mat-table class='mat-elevation-z0 item item-1' [dataSource]=' ownersLs' width='1200px'>
                  <ng-container matColumnDef='fname'>
                    <th *matHeaderCellDef class="fNmNlNtin">First Name</th>
                    <td *matCellDef='let data' class="fNmNlNtin">{{ data.ownFName }}</td>
                  </ng-container>
									<ng-container matColumnDef='mname'>
                    <th *matHeaderCellDef class="fNmNlNtin">Middle Name</th>
                    <td *matCellDef='let data' class="fNmNlNtin">{{ data.ownMName }}</td>
                  </ng-container>
									<ng-container matColumnDef='lname'>
                    <th *matHeaderCellDef class="fNmNlNtin">Last Name</th>
                    <td *matCellDef='let data' class="fNmNlNtin">{{ data.ownLName }}</td>
                  </ng-container>
                  <ng-container matColumnDef='address'>
                    <th *matHeaderCellDef class="addrssCol">Address</th>
                    <td mat-cell *matCellDef='let data' class="addrssCol">{{ data.ownAddress }}</td>
                  </ng-container>
                  <ng-container matColumnDef='contact'>
                    <th *matHeaderCellDef class="conCol">Contact</th>
                    <td mat-cell *matCellDef='let data' class="conCol">{{ data.ownContact }}</td>
                  </ng-container>
                  <ng-container matColumnDef='tin'>
                    <th *matHeaderCellDef class="fNmNlNtin">TIN</th>
                    <td mat-cell *matCellDef='let data' class="fNmNlNtin">{{ data.ownTIN }}</td>
                  </ng-container>
                  <ng-container matColumnDef='actions'>
                    <th *matHeaderCellDef class="delCol"></th>
                    <td *matCellDef='let row' class="delCol">
                      <button type='button' (click)='removeOwnerDetail(row)' mat-icon-button color='warn'>
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef='ownerHeader'></tr>
                  <tr mat-row *matRowDef='let row; columns: ownerHeader'></tr>
                </table>
                </div>
              </div>
            </mat-card-content>
            </div>
            <br>
        </div>
        <!-- Owner Details End -->

        <div class="divCard item item-2 brdr" fxFlex='50%'>
          <!-- Admin -->
          <div class="divHeader">&nbsp;&nbsp;Administrator / Beneficial User</div>
            <br>
            <div class="cardMargin">
            <mat-card-content formGroupName='adminOwnerLs'>
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
                fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='32%'>
                  <input matInput type='text' formControlName='admfName' placeholder='First name'>
                </mat-form-field>
                <mat-form-field class='item item-2' fxFlex='32%'>
                  <input matInput type='text' formControlName='admmName' placeholder='Middle name'>
                </mat-form-field>
                <mat-form-field class='item item-3' fxFlex='32%'>
                  <input matInput type='text' formControlName='admlName' placeholder='Last name'>
                </mat-form-field>
              </div>
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
                fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='100%'>
                  <input matInput type='text' formControlName='admaddress' placeholder='Address'>
                </mat-form-field>
              </div>
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
                fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='32%'>
                  <input matInput type='text' formControlName='admcontact' placeholder='Contact No.'>
                </mat-form-field>
                <mat-form-field class='item item-2' fxFlex='32%'>
                  <input matInput type='text' formControlName='admTIN' placeholder='TIN No.'>
                </mat-form-field>
                <div (click)="addAdmin(landAssessment.get('adminOwnerLs'))" fxFlex='32%'(mousedown)='adminAdd=true' (mouseup)='adminAdd=false' (mouseleave)='adminAdd=false'>
                <button mat-raised-button type='button' class='item item-3' color='primary' [ngClass]="{'addBtnMD': adminAdd, 'addBtnMU': !adminAdd}">Add</button>
                </div>
              </div>
              <br><br>
              <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
                <div class="lnd-table" fxFlex='100%'>
                <table mat-table class='mat-elevation-z0' [dataSource]='adminsLs' width='1200px'>
                  <ng-container matColumnDef='fname'>
                    <th *matHeaderCellDef class="fNmNlNtin">First Name</th>
                    <td *matCellDef='let data' class="fNmNlNtin">{{ data.admFName }}</td>
                  </ng-container>
									<ng-container matColumnDef='mname'>
                    <th *matHeaderCellDef class="fNmNlNtin">Middle Name</th>
                    <td *matCellDef='let data' class="fNmNlNtin">{{ data.admMName }}</td>
                  </ng-container>
									<ng-container matColumnDef='lname'>
                    <th *matHeaderCellDef class="fNmNlNtin">Last Name</th>
                    <td *matCellDef='let data' class="fNmNlNtin">{{ data.admLName }}</td>
                  </ng-container>
                  <ng-container matColumnDef='address'>
                    <th mat-header-cell *matHeaderCellDef class="addrssCol">Address</th>
                    <td mat-cell *matCellDef='let data' class="addrssCol">{{ data.admAddress }}</td>
                  </ng-container>
                  <ng-container matColumnDef='contact'>
                    <th mat-header-cell *matHeaderCellDef class="conCol">Contact</th>
                    <td mat-cell *matCellDef='let data' class="conCol">{{ data.admContact }}</td>
                  </ng-container>
                  <ng-container matColumnDef='tin'>
                    <th mat-header-cell *matHeaderCellDef class="fNmNlNtin">TIN</th>
                    <td mat-cell *matCellDef='let data' class="fNmNlNtin">{{ data.admTIN }}</td>
                  </ng-container>
                  <ng-container matColumnDef='actions'>
                    <th *matHeaderCellDef class="delCol"></th>
                    <td *matCellDef='let row' class="delCol">
                      <button type='button' (click)='removeAdminDetail(row)' mat-icon-button color='warn'>
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef='adminHeader'></tr>
                  <tr mat-row *matRowDef='let row; columns: adminHeader'></tr>
                </table>
                </div>
              </div>
            </mat-card-content>
            </div>
            <br>
            <!-- Admin End -->
        </div>
      </div>

      <!-- Land Appraisal -->
      <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='20px'
        fxLayoutGap.xs='10px'>
        <div class="" fxFlex='100%'>
          <div class="divCard brdr brdrBtm">
            <div class="divHeader">&nbsp;&nbsp;Land Appraisal</div>
            <br>
            <div class='cardMargin'>
            <mat-card-content formGroupName='landAppraisal'>
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
                fxLayoutGap.xs='10px'>
                <mat-form-field class='item item-1' fxFlex='32%'>
                  <mat-label>Classification</mat-label>
                  <mat-select formControlName='class'
										(selectionChange)="lndAppChngVal(landAssessment.get('landAppraisal'))"
                     >
                    <mat-option *ngFor='let cls of actualUse' [value]='cls.value'>{{ cls.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class='item item-2' fxFlex='32%'>
                  <mat-label>Sub-Classification</mat-label>
                  <mat-select formControlName='subclass'
                    (selectionChange)="lnAppSubCUV(landAssessment.get('landAppraisal'))"
										  >
                    <mat-option *ngFor='let subcls of subClassLs' [value]='subcls.value'>{{ subcls.viewVal }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class='item item-3' fxFlex='32%'>
                  <input matInput type='text' placeholder='Area (sqm)' formControlName='area'
                    (keyup)="computeBMV(landAssessment.get('landAppraisal'))">
                </mat-form-field>
              </div>
              <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
                fxLayoutGap.xs='10px'>

                <div fxFlex='32%' class="relPos">
                <div class="inptOvrlay"></div>
                  <mat-form-field class='item item-1 width-100'>
                    <input tabIndex='-1' matInput type='text' placeholder='Unit Value' formControlName='unitVal' [value]='lndAppUnitVal'>
                  </mat-form-field>
                </div>

                <div fxFlex='32%' class="relPos">
                <div class="inptOvrlay"></div>
                  <mat-form-field class='item item-2 width-100'>
                    <input tabIndex='-1' matInput type='text' placeholder='Base Market Value' formControlName='baseMarketVal'
                      [value]='lndAppBMV'>
                  </mat-form-field>
                </div>

                <div class='item item-3' fxFlex='32%'>
                  <mat-checkbox formControlName='interiorLot'>Interior Lot</mat-checkbox>
                  <br>
                  <mat-checkbox formControlName='cornerLot'>Corner Lot</mat-checkbox>
                  <br>
                  <mat-checkbox (change)="stripToggle(landAssessment.get('stripSet'))" formControlName='stripping'>Stripping
                  </mat-checkbox>
                </div>
              </div>
              <br>

            </mat-card-content>
            <div class="dashedHr"></div>
              <p>Stripping</p>

          <!-- Stripping -->
              <mat-card-content formGroupName='stripSet'>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='32%'>
              <input matInput (keyup)="setStripNumSel(landAssessment.get('stripSet'))" type='text'
                placeholder='No. of Strips' formControlName='stripCount'>
            </mat-form-field>
            <div fxFlex='32%' class="relPos">
            <div class="inptOvrlay"></div>
            <mat-form-field class='item item-2 width-100'>
              <input tabIndex='-1' matInput type='text' placeholder='Remaining Land Area' formControlName='remLandArea'>
            </mat-form-field>
            </div>

            <mat-form-field class='item item-3' fxFlex='32%'>
              <input matInput type='text' placeholder='Strip Area' formControlName='stripArea' (change)='stripUpdated=false'>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
            fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='32%'>
              <input matInput type='text' placeholder='Adjustment Percentage' formControlName='adjustment'>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='32%'>
              <mat-label>Strip Number</mat-label>
              <mat-select formControlName='stripNo'>
                <mat-option *ngFor='let count of stripNo' [value]='count.value'>{{ count.viewVal }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div fxFlex='32%' (mousedown)='lndApprAdd=true' (mouseup)='lndApprAdd=false' (mouseleave)='lndApprAdd=false'>
            <button mat-raised-button class='item item-3' [ngClass]="{'laaddBtnMU': !lndApprAdd, 'laaddBtnMD': lndApprAdd}" [disabled]='!stripToggleVal' type='button' (click)="addStrip(landAssessment.get('stripSet'))" color='primary'>Add</button>
            </div>
          </div>
          <br><br>
          <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
            <table mat-table class='mat-elevation-z0 item item-1' fxFlex='100%' [dataSource]='stripSetInfo'>
              <ng-container matColumnDef='stripno'>
                <th *matHeaderCellDef class="th-18">Strip Number</th>
                <td *matCellDef='let data' class="th-18">{{ data.stripNum }}</td>
              </ng-container>
              <ng-container matColumnDef='striparea'>
                <th mat-header-cell *matHeaderCellDef class="th-18">Strip Area</th>
                <td mat-cell *matCellDef='let data' class="th-18">{{ data.stripArea }}</td>
              </ng-container>
              <ng-container matColumnDef='adjustment'>
                <th mat-header-cell *matHeaderCellDef class="th-18">Adjustment</th>
                <td mat-cell *matCellDef='let data' class="th-18">{{ data.adjustment }}</td>
              </ng-container>
              <ng-container matColumnDef='adbaserate'>
                <th mat-header-cell *matHeaderCellDef class="th-19">Adjusted Basic Rate</th>
                <td mat-cell *matCellDef='let data' class="th-19">{{ data.adjustedBaseRate }}</td>
              </ng-container>
              <ng-container matColumnDef='stripmval'>
                <th mat-header-cell *matHeaderCellDef class="th-19">Strip Market Value</th>
                <td mat-cell *matCellDef='let data' class="th-19">{{ data.stripMarkVal }}</td>
              </ng-container>
              <ng-container matColumnDef='actions'>
                <th mat-header-cell *matHeaderCellDef class="th-5"></th>
                <td *matCellDef='let row' class="th-5">
                  <button type='button' (click)='removeStripDetail(row)' mat-icon-button color='warn'>
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef='stripHeader'></tr>
              <tr mat-row *matRowDef='let row; columns: stripHeader'></tr>
            </table>
          </div>
        </mat-card-content>
        <!-- Stripping End -->
            </div>
            <br>
          </div>
        </div>
      </div>
      <!-- Land Appraisal End -->

    <div class='container' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign='center' fxLayoutGap='20px'
      fxLayoutGap.xs='20px' fxLayoutGap.sm='20px'>
      <!-- Other Improvements -->
      <div class="divCard item item-1 brdr" fxFlex='50%'>
        <div class="divHeader">&nbsp;&nbsp;Other Improvements</div>
        <br>
        <div class="cardMargin">
        <mat-card-content formGroupName='otherImprovements'>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
          fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='49%'>
              <input matInput type='text' formControlName='kind' placeholder='Kind'>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='49%'>
              <input matInput type='text' formControlName='totalNo' placeholder='Total Number'>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
          fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='32%'>
              <input matInput type='text' formControlName='unitVal' placeholder='Unit Value'>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='32%'>
              <input matInput type='text' formControlName='basicMarketVal' placeholder='Base Market Value'>
            </mat-form-field>
            <div (click)="addImp(landAssessment.get('otherImprovements'))" fxFlex='32%' (mousedown)='otheImprvmntsAdd=true' (mouseup)='otheImprvmntsAdd=false' (mouseleave)='otheImprvmntsAdd=false'>
            <button [ngClass]="{'addBtnMU': !otheImprvmntsAdd, 'addBtnMD': otheImprvmntsAdd}" mat-raised-button type='button' color='primary' class='item item-3'>Add</button>
            </div>
          </div>
            <br><br>
          <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
            <div fxFlex='100%' class="lnd-table">
            <table mat-table class='mat-elevation-z0 item item-1' [dataSource]='impInf' width='900px'>
              <ng-container matColumnDef='kind'>
                <th class="fNmNlNtin" *matHeaderCellDef>Kind</th>
                <td class="fNmNlNtin" *matCellDef='let data'>{{ data.kind }}</td>
              </ng-container>
              <ng-container matColumnDef='total'>
                <th class="fNmNlNtin" mat-header-cell *matHeaderCellDef>Total Number</th>
                <td class="fNmNlNtin" mat-cell *matCellDef='let data'>{{ data.totalNo }}</td>
              </ng-container>
              <ng-container matColumnDef='unitval'>
                <th class="fNmNlNtin" mat-header-cell *matHeaderCellDef>Unit Value</th>
                <td class="fNmNlNtin" mat-cell *matCellDef='let data'>{{ data.unitVal }}</td>
              </ng-container>
              <ng-container matColumnDef='baseval'>
                <th class="fNmNlNtin" mat-header-cell *matHeaderCellDef>Base Market Value</th>
                <td class="fNmNlNtin" mat-cell *matCellDef='let data'>{{ data.baseMarkVal }}</td>
              </ng-container>
              <ng-container matColumnDef='actions'>
                <th class="delCol" *matHeaderCellDef></th>
                <td class="delCol" *matCellDef='let row'>
                  <button type='button' (click)='removeImp(row)' mat-icon-button color='warn'>
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef='impHeader'></tr>
              <tr mat-row *matRowDef='let row; columns: impHeader'></tr>
            </table>
            </div>
          </div>
          <br>
          <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='left'>
            <mat-form-field class='item item-1' fxFlex='30%'>
              <input matInput type='text' placeholder='Sub Total' formControlName='othImpSubTotal' [value]='lndAppBMV'>
            </mat-form-field>
          </div>
        </mat-card-content>
        </div>
        <br>
      </div>
      <!-- Other Improvements End -->

      <div class="divCard item item-2 brdr" fxFlex='50%'>
        <div class="divHeader">&nbsp;&nbsp;Market Value</div>
        <br>
        <div class="cardMargin">
          <!-- Matket Value -->
          <mat-card-content formGroupName='marketVal'>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='32%'>
                <input matInput type='text' placeholder='Base Market Value' formControlName='baseMarketVal'>
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='32%'>
                <input matInput type='text' placeholder='Adjustment Factor' formControlName='adjustmentFactor'>
              </mat-form-field>
              <mat-form-field class='item item-3' fxFlex='32%'>
                <input matInput type='text' placeholder='% Adjustment' formControlName='adjustmentPercent'>
              </mat-form-field>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='32%'>
                <input matInput type='text' placeholder='Value Adjustment' formControlName='adjustmentVal'>
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='32%'>
                <input matInput type='text' placeholder='Market Value' formControlName='marketVal'>
              </mat-form-field>
              <div (mousedown)='mvAdd=true' (mouseup)='mvAdd=false' (mouseleave)='mvAdd=false' (click)="addMVal(landAssessment.get('marketVal'))" fxFlex='32%'>
              <button type='button'  mat-raised-button color='primary' class='item item-3' [ngClass]="{'addBtnMU': !mvAdd, 'addBtnMD': mvAdd}">Add</button>
              </div>
            </div>
            <br><br>
            <div class='containerX' fxLayout fxLayout.xs='column' fxLayoutAlign='center'>
              <div class="lnd-table" fxFlex='100%'>
              <table mat-table class='mat-elevation-z0 item item-1' [dataSource]='marketValue' width='1000px'>
                <ng-container matColumnDef='bmval'>
                  <th *matHeaderCellDef class='fNmNlNtin'>Base Market Value</th>
                  <td *matCellDef='let data' class='fNmNlNtin'>{{ data.mBaseVal }}</td>
                </ng-container>
                <ng-container matColumnDef='adjfactor'>
                  <th mat-header-cell *matHeaderCellDef class='fNmNlNtin'>Adjustment Factor</th>
                  <td mat-cell *matCellDef='let data' class='fNmNlNtin'>{{ data.mAdjustFactor }}</td>
                </ng-container>
                <ng-container matColumnDef='adjperc'>
                  <th mat-header-cell *matHeaderCellDef class='fNmNlNtin'>% Adjustment</th>
                  <td mat-cell *matCellDef='let data' class='fNmNlNtin'>{{ data.mAdjustPercentage }}</td>
                </ng-container>
                <ng-container matColumnDef='adjval'>
                  <th mat-header-cell *matHeaderCellDef class='fNmNlNtin'>Value Adjustment</th>
                  <td mat-cell *matCellDef='let data' class='fNmNlNtin'>{{ data.mAdjustValue }}</td>
                </ng-container>
                <ng-container matColumnDef='markval'>
                  <th mat-header-cell *matHeaderCellDef class='fNmNlNtin'>Market Value</th>
                  <td mat-cell *matCellDef='let data' class='fNmNlNtin'>{{ data.mMarketVal }}</td>
                </ng-container>
                <ng-container matColumnDef='actions'>
                  <th class="delCol" *matHeaderCellDef></th>
                  <td class="delCol" *matCellDef='let row'>
                    <button type='button' (click)='removeMVal(row)' mat-icon-button color='warn'>
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef='mValHeader'></tr>
                <tr mat-row *matRowDef='let row; columns: mValHeader'></tr>
              </table>
              </div>
            </div>
            <br>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutGap='10px' fxLayoutGap.xs='10px'
              fxLayoutAlign='left'>
              <mat-form-field class='item item-1' fxFlex='30%'>
                <input matInput type='text' placeholder='Sub Total' formControlName='mvSubTotal' [value]='lndAppBMV'>
              </mat-form-field>
            </div>
          </mat-card-content>
          <!-- Market Value End -->
        </div>
        <br>
      </div>
    </div>

    <div class='container' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign='center' fxLayoutGap='20px'
      fxLayoutGap.xs='20px' fxLayoutGap.sm='20px'>
      <!-- Property Assessment -->
      <div class="divCard brdr item item-1" fxFlex='60%'>
        <div class="divHeader">&nbsp;&nbsp;Property Assessment</div>
        <br>
        <div class="cardMargin">
        <mat-card-content formGroupName='propertyAssessment'>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='32%'>
                <mat-label>Actual Use</mat-label>
                <mat-select formControlName='actualUse'>
                  <mat-option *ngFor='let sel of actualUse' (click)="setAsmtLvl(landAssessment.get('propertyAssessment'))" [value]='sel.value'>{{ sel.viewVal }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-checkbox formControlName='specialClass' class='item item-2' fxFlex='32%'>Special Class</mat-checkbox>
              <div class='item item-3' fxFlex='32%'></div>
            </div>
            <div class='container relPos' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <div fxFlex='32%'>
                <div class="inptOvrlay"></div>
              <mat-form-field class='item item-1 width-100'>
                <input matInput type='text' formControlName='marketVal' (keyup)="compAssessedVal(landAssessment.get('propertyAssessment'))" placeholder='Market Value' tabIndex="-1" [value]='lndAppBMV'>
              </mat-form-field>
              </div>
              <mat-form-field class='item item-2' fxFlex='32%'>
                <input matInput type='text' formControlName='assessmentLvl' placeholder='Assessment Level' tabIndex="-1">
              </mat-form-field>
              <mat-form-field class='item item-3' fxFlex='32%'>
                <input matInput type='text' formControlName='assessedVal' placeholder='Assessed Value' tabIndex="-1">
              </mat-form-field>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='23%'>
                <mat-label>Status</mat-label>
                <mat-select formControlName='status'>
                  <mat-option *ngFor='let sel of status' [value]='sel.value'>{{ sel.viewVal }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='24%'>
                <mat-label>Quarter</mat-label>
                <mat-select formControlName='efftQ'>
                  <mat-option *ngFor='let sel of quarter' [value]='sel.value'>{{ sel.viewVal }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class='item item-3' fxFlex='24%'>
                <input matInput placeholder='Year' formControlName='effty'>
              </mat-form-field>
              <mat-form-field class='item item-4' fxFlex='23%'>
                <input matInput type='text' formControlName='total' placeholder='Total'>
              </mat-form-field>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='32%'>
                <input matInput type='text' formControlName='appraisedName' placeholder='Appraised By'>
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='32%'>
                <input matInput type='text' formControlName='recommendName' placeholder='Recommending'>
              </mat-form-field>
              <div class="relPos" fxFlex='32%'>
              <div class="inptOvrlay"></div>
              <mat-form-field class='item item-3 width-100'>
                <input matInput type='text' formControlName='approvedName' placeholder='Approved By' tabIndex="-1">
              </mat-form-field>
              </div>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='32%'>
                <input matInput [matDatepicker]='apprdp' formControlName='appraisedDate' placeholder='Date'>
                <mat-datepicker-toggle matSuffix [for]='apprdp'></mat-datepicker-toggle>
                <mat-datepicker #apprdp></mat-datepicker>
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='32%'>
                <input matInput [matDatepicker]='recdp' formControlName='recommendDate' placeholder='Date'>
                <mat-datepicker-toggle matSuffix [for]='recdp'></mat-datepicker-toggle>
                <mat-datepicker #recdp></mat-datepicker>
              </mat-form-field>
              <mat-form-field class='item item-3' fxFlex='32%'>
                <input matInput [matDatepicker]='aprdp' formControlName='approvedDate' placeholder='Date'>
                <mat-datepicker-toggle matSuffix [for]='aprdp'></mat-datepicker-toggle>
                <mat-datepicker #aprdp></mat-datepicker>
              </mat-form-field>
            </div>
            <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='100%'>
                <textarea matInput formControlName='memoranda' placeholder='Memoranda'></textarea>
              </mat-form-field>
            </div>
          </mat-card-content>
          </div>
          <br>
      </div>
      <!-- Property Assessment End -->

      <div class="divCard brdr item item-2" fxFlex='40%'>
        <div class="divHeader">&nbsp;&nbsp;Record of Superseded Assessment</div>
        <br>
        <div class="cardMargin">
        <mat-card-content formGroupName='supersededRec'>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
          fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='58%'>
              <input matInput type='text' formControlName='supPin' placeholder='PIN'>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='40%'>
              <input matInput type='text' formControlName='supTotalAssessedVal' placeholder='Total Assessed Value'>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
          fxLayoutGap.xs='10px'>
            <mat-form-field class='item item-1' fxFlex='49%'>
              <input matInput type='text' formControlName='supArpNo' placeholder='ARP No.'>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='49%'>
              <input matInput type='text' formControlName='supTDNo' placeholder='TD No.'>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
          fxLayoutGap.xs='10px'>
            <mat-form-field class='item item 1' fxFlex='100%'>
              <input matInput type='text' formControlName='supPrevOwner' placeholder='Previous Owner'>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
          fxLayoutGap.xs='10px'>
            <mat-form-field class='item item 1' fxFlex='49%'>
              <input matInput type='text' formControlName='supEff' placeholder='Effectivity of Assessment'>
            </mat-form-field>
            <mat-form-field class='item item-2' fxFlex='49%'>
              <input matInput type='text' formControlName='supARPageNo' placeholder='AR Page No.'>
            </mat-form-field>
          </div>
          <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='2%'
              fxLayoutGap.xs='10px'>
              <mat-form-field class='item item-1' fxFlex='49%'>
                <input matInput type='text' formControlName='supRecPersonnel' placeholder='Recording Personnel'>
              </mat-form-field>
              <mat-form-field class='item item-2' fxFlex='49%'>
                <input matInput [matDatepicker]='supDate' formControlName='supDate' placeholder='Date'>
                <mat-datepicker-toggle matSuffix [for]='supDate'></mat-datepicker-toggle>
                <mat-datepicker #supDate></mat-datepicker>
              </mat-form-field>
            </div>
        </mat-card-content>
        </div>
        <br>
      </div>
    </div>
    <div class="h"></div>
      <mat-card-actions align='center'>
        <div class='container' fxLayout fxLayoutAlign='center' fxLayoutGap='20px'>
        <div class="btnCon btnW" (mousedown)='saveMD=true' (mouseup)='saveMD=false' (mouseleave)='saveMD=false'>
          <button [ngClass]="{'saveClrBtnMU': !saveMD , 'saveClrBtnMD': saveMD}" class='sve' mat-raised-button color='primary' type='submit'>Save</button>
        </div>
        <div class="btnCon btnW" (mousedown)='clrMD=true' (mouseup)='clrMD=false' (mouseleave)='clrMD=false'>
          <button type='button' [ngClass]="{'saveClrBtnMU': !clrMD , 'saveClrBtnMD': clrMD}" class='clr' mat-raised-button color='warn' (click)="resetForm()">Clear</button>
        </div>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </div>
  <!-- Container End -->
</form>
</div>
