.dbHeader {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #0063EA;
  color: #FFF;
}

.errMsg {
  width: 100%;
  text-align: center;
}

.h {
  height: 10px;
}

.mUp {
  width: 100%;
  height: 100%;
}

.mDwn {
  width: 90%;
  height: 90%;
  font-size: 11px;
  margin-left: 5%;
}
