<div class='spinnerCon' *ngIf='isVisible_spinner'>
<div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
</div>


<div class="topMargin"></div>
<div class="divCard brdr">
	<form [formGroup]='regForm' (ngSubmit)='regist(regForm.value)' novalidate>
	<div class="divHeader"><span class='mleft'>Register</span></div>
	<div class="h"></div>
	<div class='container' fxLayout='column' fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
		fxLayoutGap.xs='10px' style='margin: 10px;'>
		<div class="item item-1" fxFlex='100%'>
			<span>Personal Info</span>
			<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
				fxLayoutGap.xs='10px'>
				<div fxFlex='33%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='fName' type='text' matInput placeholder='First name' required>
						<mat-error *ngIf="hasError('fName','required')">First name field should not be empty</mat-error>
					</mat-form-field>
				</div>
				<div fxFlex='33%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='mName' type='text' matInput placeholder='Middle name'>
					</mat-form-field>
				</div>
				<div fxFlex='33%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='lName' type='text' matInput placeholder='Last name' required>
						<mat-error *ngIf="hasError('lName','required')">Last name field should not be empty</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="h"></div>

			<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
				fxLayoutGap.xs='10px'>
				<div fxFlex='50%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='address' type='text' matInput placeholder='Address' required>
						<mat-error *ngIf="hasError('address','required')">Address field should not be empty</mat-error>
					</mat-form-field>
				</div>
				<div fxFlex='50%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='contact' type='text' matInput placeholder='Contact No.' required>
						<mat-error *ngIf="hasError('contact','required')">Contact field should not be empty</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>

		<div class="dashed"></div>
		<div class="item item-2" fxFlex='100%'>
			<span>Account Info</span>
			<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
				fxLayoutGap.xs='10px'>
				<mat-form-field fxFlex='50%' class="fsize">
					<input formControlName='username' type='text' matInput placeholder='Username' required>
					<mat-error *ngIf="hasError('username','required')">Username field should not be empty</mat-error>
				</mat-form-field>
				<mat-form-field fxFlex='50%' class="fsize">
					<input formControlName='password' type='password' matInput placeholder='Password' required>
					<mat-error *ngIf="hasError('password','required')">Password field should not be empty</mat-error>
				</mat-form-field>
			</div>
			<br>
			<div class='container' fxLayout fxLayoutAlign='center' fxLayoutGap='10px'>
				<div class="item item-1 h-40" fxFlex='100%' (mousedown)='clicked=true' (mouseup)='clicked=false' (mouseleave)='clicked=false'>
					<button type='submit' mat-raised-button color='primary' [ngClass]="{ 'regBtnMouseDwn': clicked, 'regBtnMouseUp': !clicked }">Register</button>
				</div>
				<div class="item item-1 h-40" fxFlex='100%' (mousedown)='clckd=true' (mouseup)='clckd=false' (mouseleave)='clckd=false'>
					<a routerLink='/'>
						<button type='button' mat-raised-button [ngClass]="{ 'loginBtnMouseDwn': clckd, 'loginBtnMouseUp': !clckd }">Or click here to Login</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	</form>
	<div class="h"></div>
</div>
