.bg {
  /*background-image: linear-gradient(to bottom, #2033ff, #0079ff, #00a8ff, #3fcfff, #bcf0ff);*/
  /*background-image: linear-gradient(to top, #2033ff, #0079ff, #00a8ff, #3fcfff, #bcf0ff);*/
  /*background-image: linear-gradient(to top, #4676ff, #4d83ff, #5890ff, #659cff, #74a8fe, #8bb2fd, #a0bcfd, #b2c7fc, #cad4fc, #dfe1fd, #f0f0fe, #ffffff);*/
  /*background-image: linear-gradient(to left top, #5c86fd, #6693fe, #73a0fd, #81acfd, #91b8fb, #a3c1fb, #b4cafa, #c4d3fa, #d6ddfb, #e6e8fc, #f3f3fd, #ffffff);*/
  /*background-image: linear-gradient(to right bottom, #00a6ff, #4dadff, #6eb4ff, #86bbff, #9bc3ff, #95beff, #90b8ff, #8bb3ff, #6d9eff, #4f89ff, #3073ff, #005bff);
   width: 100%;
  height: 100%;
  z-index: -2;
  position: fixed;*/
}

.app-main-nav {
  margin-bottom:70px;
}
